body
{
text-align:center;
background-image:url("10.jpg");
height:50%;
width:100%;
background-position:center;
background-repeat:no-repeat;
background-size:cover;
}


#headersection
{
padding:10px;
}
input
{

text-align:center;
padding:10px;
boder-radius:5px;
}
#loginbtn
{
padding:5px;
broder-radius:5px;
background-colour:#48dbfb;
color:white;
border-radius:5px
}