
body
{
text-align:center;
background-image:url("13.webp");
height:50%;
width:100%;
background-position:center;
background-repeat:no-repeat;
background-size:cover;
}


#headersection
{
padding:10px;
}
input
{

text-align:center;
padding:10px;
border-radius:5px;
}


